
.ContPadre{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background: linear-gradient(180deg, transparent, rgba(77, 230, 154, 0.203) 35%, transparent);
}

.ContProd{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.Menu{
    display: none;
}
.ContGenerator{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    .two{
        font-family: 'Courier New', Courier, monospace;
    }
    .Order{
        font-size: 42px;
    }
    .generador{
        margin: 25px;
        padding: 15px;
        font-size: 42px;
        font-family: 'Courier New', Courier, monospace;
        border-radius: 12px;
        width: 80%;
    }
    .subtitulo{
        margin: 25px;
        font-size: 36px;
        border-bottom: solid 3px rgb(25, 33, 117);
        padding: 15px;
        border-radius: 12px;
        font-family: 'Courier New', Courier, monospace;
        a{
            list-style: none;
            text-decoration: none;
            color: black;
            border-bottom: solid 3px rgb(25, 33, 117);
            border-radius: 4px;
        }
    }
    @media (max-width:600px) {
        .generador{
            font-size: 28px;
        }
        .subtitulo{
            font-size: 28px;
        }
        .Order{
            font-size: 24px;
            border-bottom: solid 3px rgb(25, 33, 117);
            padding: 8px;
        }
    }
    .Fondo1{
        position: absolute;
        z-index: -2;
        width: 130px;
        margin-top: 450px;
        margin-right: 820px;
    }
    .Fondo2{
        position: absolute;
        z-index: -2;
        width: 135px;
        margin-bottom: 350px;
        margin-left: 620px;
    }
    @media (max-width:940px) {
        .Fondo1{
            margin-top: 850px;
            margin-right: 260px;
        }
        .Fondo2{
            margin-bottom: 550px;
            margin-left: 230px;
        }
    }
}

@media (max-width:940px) {
    .Menu{
        display: flex;
        font-size: 18px;
        color: gray;
        border-bottom: solid 1px green;
    }
}
